.swiperContainer .swiper-slide img {
    object-position: center;
}

.background-color,
#car-contact-section button {
    background-color: var(--rolls-color);
}

.car-decoration {
    color: var(--rolls-color);
}

.color {
    fill: var(--rolls-color);
}

.bottomSwiper .swiper-slide-thumb-active {
    border: solid 5px var(--rolls-color);
}

#car-contact-section button {
    border: solid 2px var(--rolls-color);
}

#sold,
#car-contact-info {
    display: none;
}

#section-3 .swiper {
    --swiper-navigation-color: var(--rolls-color);
}

/* PC */
@media screen and (min-width: 1025px) {
    #info-box {
        border: solid 8px var(--rolls-color);
    }
}