.background-color,
#car-contact-section button {
    background-color: var(--tiger-color);
}

.car-decoration {
    color: var(--tiger-color);
}

.color {
    fill: var(--tiger-color);
}

#section-2 li {
    padding: 0.25em;
    color: var(--tiger-color);
}

#section-2 li span {
    color: var(--dark-mode);
}

.bottomSwiper .swiper-slide-thumb-active {
    border: solid 5px var(--tiger-color);
}

#car-contact-section button {
    border: solid 2px var(--tiger-color);
}

#sold,
#car-contact-info {
    display: none;
}

#section-3 .swiper {
    --swiper-navigation-color: var(--tiger-color);
}

/* MOBILE */
@media screen and (max-width: 480px) {
    #section-2 h1 {
        font-size: 1.71em;
    }
}

/* PC */
@media screen and (min-width: 1025px) {
    #info-box {
        border: solid 8px var(--tiger-color);
    }
}