.background-color,
#car-contact-section button {
    background-color: var(--oldsmobile-color);
}

.color,
.car-decoration {
    color: var(--oldsmobile-color);
}

.bottomSwiper .swiper-slide-thumb-active {
    border: solid 5px var(--oldsmobile-color);
}

#car-contact-section button {
    border: solid 2px var(--oldsmobile-color);
}

#video-section,
#sold,
#car-contact-info {
    display: none;
}

.swiper-navBtn-next,
.swiper-navBtn-prev {
    color: var(--oldsmobile-color) !important;
}

.swiperContainer .swiper-slide img {
    object-position: center;
}

/* MOBILE */
@media screen and (max-width: 480px) {
    #section-2 h1 {
        font-size: 1.66em;
    }
}

/* PC */
@media screen and (min-width: 1025px) {
    #info-box {
        border: solid 8px var(--oldsmobile-color);
        max-width: 75em;
    }
}