.background-color,
#car-contact-section button:hover {
    background-color: var(--corvette-color);
}

.color {
    color: var(--corvette-color);
}

.bottomSwiper .swiper-slide-thumb-active {
    border: solid 8px var(--corvette-color);
}

#car-contact-section button {
    border: solid 2px var(--corvette-color);
}

#sold,
#car-contact-info {
    display: none;
}

.swiper-navBtn-next,
.swiper-navBtn-prev {
    color: var(--corvette-color) !important;
}

/* MOBILE */
@media screen and (max-width: 480px) {
    #section-2 h1 {
        font-size: 1.95em;
    }
    
    #info-section {
        border: solid 5px var(--corvette-color);
    }

    #car-contact-section h2 {
        font-size: 1.3em;
    }
}

/* PC + TABLETS */
@media screen and (min-width: 481px) {
    #info-container {
        border: solid 5px var(--corvette-color);
    }
}