.background-color,
#car-contact-section button {
    background-color: var(--trans-am-color);
}

.color {
    color: var(--trans-am-color);
}

.bottomSwiper .swiper-slide-thumb-active {
    border: solid 5px var(--trans-am-color);
}

#car-contact-section button {
    border: solid 2px var(--trans-am-color);
}

#sold,
#car-contact-info {
    display: none;
}

.swiper-navBtn-next,
.swiper-navBtn-prev {
    color: var(--trans-am-color) !important;
}

.swiperContainer .swiper-slide img {
    object-position: center;
}

/* PC + TABLETS */
@media screen and (min-width: 481px) {
    #info-container {
        border: solid 5px var(--trans-am-color);
    }
}