.background-color,
#car-contact-section button {
    background-color: var(--oldsmobile-white-color);
}

.car-decoration {
    color: var(--oldsmobile-white-color);
}

.color {
    fill: var(--oldsmobile-white-color);
}

.bottomSwiper .swiper-slide-thumb-active {
    border: solid 5px var(--oldsmobile-white-color);
}

#car-contact-section button {
    border: solid 2px var(--oldsmobile-white-color);
}

#video-section,
#sold,
#car-contact-info {
    display: none;
}

.swiper-navBtn-next,
.swiper-navBtn-prev {
    color: var(--oldsmobile-white-color) !important;
}

/* MOBILE */
@media screen and (max-width: 480px) {
    #section-2 h1 {
        font-size: 1.71em;
    }
}

/* PC */
@media screen and (min-width: 1025px) {
    #info-box {
        border: solid 8px var(--oldsmobile-white-color);
        max-width: 75em;
    }
}