.background-color,
#car-contact-section button:hover {
    background-color: var(--oldsmobile-white-color);
}

.color {
    color: var(--oldsmobile-white-color);
}

.bottomSwiper .swiper-slide-thumb-active {
    border: solid 8px var(--oldsmobile-white-color);
}

#car-contact-section button {
    border: solid 2px var(--oldsmobile-white-color);
}

#video-section,
#sold,
#car-contact-info {
    display: none;
}

/* MOBILE */
@media screen and (max-width: 480px) {
    .section-2 h1 {
        font-size: 1.71em;
    }

    #info-section {
        border: solid 5px var(--oldsmobile-white-color);
    }

    #car-contact-section h2 {
        font-size: 1.3em;
    }
}

/* PC + TABLETS */
@media screen and (min-width: 481px) {
    #info-container {
        border: solid 5px var(--oldsmobile-white-color);
    }
}

/* PC */
@media screen and (min-width: 1025px) {
    
}