.swiperContainer .swiper-slide img {
    object-position: center;
}

.background-color,
#car-contact-btn {
    background-color: var(--mustang-color);
}

.car-decoration {
    color: var(--mustang-color);
}

.color {
    fill: var(--mustang-color);
}

.bottomSwiper .swiper-slide-thumb-active {
    border: solid 5px var(--mustang-color);
}

#car-contact-btn {
    border: solid 2px var(--mustang-color);
}

#sold,
#car-contact-info {
    display: none;
}

#section-3 .swiper {
    --swiper-navigation-color: var(--mustang-color);
}

/* MOBILE */
@media screen and (max-width: 480px) {
    #section-2 h1 {
        font-size: 1.84em;
    }
}

/* PC */
@media screen and (min-width: 1025px) {
    #info-box {
        border: solid 8px var(--mustang-color);
    }
}