.background-color,
#car-contact-section button:hover {
    background-color: var(--shelby-color);
}

.color {
    color: var(--shelby-color);
}

.bottomSwiper .swiper-slide-thumb-active {
    border: solid 5px var(--shelby-color);
}

#car-contact-section button {
    border: solid 2px var(--shelby-color);
}

#video-section,
#divider-section,
#car-contact-info {
    display: none;
}

.swiper-navBtn-next,
.swiper-navBtn-prev {
    color: var(--shelby-color) !important;
}

.swiperContainer .swiper-slide img {
    object-position: center;
}

/* MOBILE */
@media screen and (max-width: 480px) {
    #section-2 h1 {
        font-size: 1.8em;
    }
}

/* PC */
@media screen and (min-width: 1025px) {
    #info-container {
        border: solid 5px var(--shelby-color);
    }
}