.background-color,
#car-contact-section button:hover {
    background-color: var(--cadillac-color);
}

.car-decoration {
    color: var(--cadillac-color);
}

#section-2 li {
    padding: 0.25em;
    color: var(--cadillac-color);
}

#section-2 li span {
    color: var(--dark-mode);
}

.bottomSwiper .swiper-slide-thumb-active {
    border: solid 5px var(--cadillac-color);
}

#section-3 .swiper {
    --swiper-navigation-color: var(--cadillac-color);
}

.swiper-navBtn-next,
.swiper-navBtn-prev {
    color: var(--cadillac-color) !important;
}

/* PC */
@media screen and (min-width: 1025px) {
    #info-box {
        border: solid 8px var(--cadillac-color);
    }
}