.background-color,
#car-contact-section button:hover {
    background-color: var(--cadillac-color);
}

.color {
    color: var(--cadillac-color);
}

#section-2 li {
    padding: 0.25em;
    color: var(--cadillac-color);
}

#section-2 li span {
    color: var(--dark-mode);
}

.bottomSwiper .swiper-slide-thumb-active {
    border: solid 5px var(--cadillac-color);
}

#car-contact-section button {
    border: solid 2px var(--cadillac-color);
}

#divider-section,
#car-contact-info {
    display: none;
}

.swiper-navBtn-next,
.swiper-navBtn-prev {
    color: var(--cadillac-color) !important;
}

/* PC */
@media screen and (min-width: 1025px) {
    #info-container {
        border: solid 5px var(--cadillac-color);
    }
}