.background-color,
#car-contact-section button:hover {
    background-color: var(--mga-color);
}

.car-decoration {
    color: var(--mga-color);
}

.bottomSwiper .swiper-slide-thumb-active {
    border: solid 5px var(--mga-color);
}

#car-contact-section button {
    border: solid 2px var(--mga-color);
}

#video-section {
    display: none;
}

#section-3 .swiper {
    --swiper-navigation-color: var(--mga-color);
}

/* PC */
@media screen and (min-width: 1025px) {
    #info-box {
        border: solid 8px var(--mga-color);
        max-width: 75em;
    }
}