.background-color,
#car-contact-section button:hover {
    background-color: var(--camaro-color);
}

.color {
    color: var(--camaro-color);
}

.bottomSwiper .swiper-slide-thumb-active {
    border: solid 5px var(--camaro-color);
}

#car-contact-section button {
    border: solid 2px var(--camaro-color);
}

#video-section,
#divider-section,
#car-contact-info {
    display: none;
}

.swiper-navBtn-next,
.swiper-navBtn-prev {
    color: var(--camaro-color) !important;
}

/* PC + TABLETS */
@media screen and (min-width: 481px) {
    #info-container {
        border: solid 5px var(--camaro-color);
    }
}