.background-color,
#car-contact-section button:hover {
    background-color: var(--rolls-royce-spur-color);
}

.color,
.car-decoration {
    color: var(--rolls-royce-spur-color);
}

.bottomSwiper .swiper-slide-thumb-active {
    border: solid 5px var(--rolls-royce-spur-color);
}

#car-contact-section button {
    border: solid 2px var(--rolls-royce-spur-color);
}

#video-section,
#divider-section,
#car-contact-info {
    display: none;
}

.swiper-navBtn-next,
.swiper-navBtn-prev {
    color: var(--rolls-royce-spur-color) !important;
}

/* PC */
@media screen and (min-width: 1025px) {
    #info-box {
        border: solid 8px var(--rolls-royce-spur-color);
        max-width: 75em;
    }
}