.background-color,
#car-contact-section button {
    background-color: var(--golden-color);
}

.color,
.car-decoration {
    color: var(--golden-color);
}

.bottomSwiper .swiper-slide-thumb-active {
    border: solid 5px var(--golden-color);
}

#car-contact-section button {
    border: solid 2px var(--golden-color);
}

.bottomSwiper {
    display: none !important;
}

#divider-section h2 span {
    color: green;
    font-family: 'Poppins Bold', Verdana, sans-serif;
}

#video-section,
#car-contact-info {
    display: none;
}

.swiper-navBtn,
.swiper-navBtn:hover {
    color: var(--golden-color) !important;
}

.swiperContainer .swiper-slide img {
    object-position: center;
}

#section-2 {
    margin-bottom: 4em;
}

/* PC */
@media screen and (min-width: 1025px) {
    #info-box {
        border: solid 8px var(--golden-color);
        max-width: 75em;
    }
}