/* SECTION 1 */

#section-1 .container {
    margin: 0 auto;
    height: 75%;
}

.background,
#video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75%;
}

.background {
    width: 110%;
}

.swiper,
.swiperContainer {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.swiper-wrapper {
    position: relative;
}

.swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiperContainer .swiper-slide {
    height: 50vw;
    max-height: 50em;
    margin-bottom: 0.5em;
}

.swiperContainer .swiper-slide img {
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}

.swiperContainer .swiper-slide img {
    cursor: pointer;
}

.bottomSwiper {
    height: 7em;
    width: 90%;
}

.bottomSwiper .swiper-slide {
    height: 7em;
}

.bottomSwiper .swiper-slide img {
    width: 100%;
}

.bottomSwiper .swiper-slide-thumb-active {
    transition: 0.15s linear;
}

.bottomSwiper .swiper-button-next,
.bottomSwiper .swiper-button-prev {
    background-color: rgb(0, 0, 0, 0.5);
    color: var(--off-white-ignore) !important;
    height: 120% !important;
    top: 0 !important;
    padding-top: 1.5em !important;
}

.bottomSwiper .swiper-button-next {
    right: 0 !important;
    padding-right: 1em !important;
    padding-left: 1.5em !important;
}

.bottomSwiper .swiper-button-prev {
    left: 0 !important;
    padding-right: 1.5em !important;
    padding-left: 1em !important;
}

.bottomSwiper .swiper-button-next-active,
.bottomSwiper .swiper-button-prev-active {
    color: black;
    background-color: rgb(0, 0, 0, 0.5);
    height: 100%;
}

#modal {
    display: none !important;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;
    background-color: black;
}

.modalSwiper {
    height: 100%;
    width: 100%;
}

.modalSwiper .swiper-wrapper .swiper-slide img {
    width: 90%;
    height: 100%;
    object-fit: contain;
}

#close {
    cursor: pointer;
    position: absolute;
    color: var(--off-white-ignore);
    padding: 0 0.2em;
    right: 1%;
    font-size: 4em;
    z-index: 11;
}

#close:hover {
    opacity: 0.6;
}

/* SECTION 2 */

#section-2 {
    text-align: center;
}

#section-2 h1 {
    margin: 1em auto;
    padding: 0 1em;
    font-family: 'Poppins Bold', Verdana, sans-serif;
    color: var(--dark-mode);
}

#section-2 h1:not(#sold) {
    display: flex;
    align-items: center;
    justify-content: center;
}

#info-box {
    margin: 5em auto;
    margin-top: 2em;
    width: 100%;
}

#video-section {
    position: relative;
    margin: 0 auto;
    margin-bottom: 1em;
    width: 100%;
    height: 50vw;
}

#video-background {
    width: 100%;
}

#video {
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

#video iframe {
    width: 100%;
    height: 50vw;
    border: none;
}

#info-section {
    margin: 0 auto;
    border-radius: 30px;
    width: 90%;
}

#section-2 p {
    margin: 0 auto;
    color: var(--dark-mode);
    font-size: 18px;
    text-align: left;
}

#section-2 ul {
    margin: 0 auto;
    text-align: left;
    width: 75%;
    max-width: max-content;
    list-style-position: outside;
    font-size: 20px;
}

#section-2 hr {
    margin: 2em auto;
    height: 2px;
    border: none;
}

#car-contact-section {
    color: var(--dark-mode);
}

#car-contact-section h1 {
    margin: 0 auto;
    font-family: 'Poppins Bold', Verdana, sans-serif;
}

#car-contact-section h2 {
    margin-bottom: 1.5em;
    font-family: 'Poppins Bold', Verdana, sans-serif;
}

#car-contact-section button {
    color: var(--off-white);
    padding: 0.5em 1em;
    border-radius: 2em;
    transition: 0.25s ease-out;
}

#car-contact-section button:hover {
    background-color: transparent;
    color: var(--dark-mode);
}

#car-contact-info {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 50em;
}

.contact-info {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info p {
    text-align: center;
    width: 100%;
    transition: 0.25s ease-out;
}

.contact-info .gg-mail,
.contact-info .gg-phone {
    margin-right: 1em;
}

.contact-info p:hover {
    opacity: 0.6;
}

/* SECTION 3 */

#section-3 {
    padding: 2.5em 0 5.25em 0;
    text-align: center;
    color: var(--dark-mode);
}

#section-3 h1 {
    padding-bottom: 1em;
    font-family: 'Poppins Bold', Verdana, sans-serif;
}

.swiper-pagination {
    display: none;
}

#bottom-buttons {
    margin: 0 auto;
    margin-top: 2em;
    max-width: 40em;
    display: flex;
    /*justify-content: space-evenly; For Add Your Car button*/
    justify-content: center;
}

#bottom-buttons button {
    padding: 0.5em 1em;
    border-radius: 2em;
    transition: 0.25s ease-out;
}

#collection-button {
    background-color: var(--blue-nav);
    color: var(--off-white);
    border: solid 2px var(--blue-nav);
}

#collection-button:hover {
    background-color: transparent;
    color: var(--dark-mode);
}

#add-your-car {
    border: solid 2px var(--golden-color);
    display: none; /* Hide for now */
}

#add-your-car:hover {
    background-color: var(--golden-color);
    color: var(--off-white);
}

/* MOBILE */
@media screen and (max-width: 480px) {
    .modalSwiper .swiper-wrapper .swiper-slide img,
    .contact-info {
        width: 100%;
    }

    #video-section {
        margin-bottom: 2em;
    }

    .contact-info:not(:first-child) {
        margin-top: 1em;
    }
}

/* PC + TABLETS */
@media screen and (min-width: 481px) {
    #section-2 p {
        font-size: 20px;
    }

    #section-2 ul {
        padding-bottom: 1em;
        font-size: 24px;
    }

    #info-box{
        border-radius: 60px;
    }

    #info-section {
        padding: 1em;
    }
}

/* PC */
@media screen and (min-width: 1025px) {
    .bottomSwiper,
    .bottomSwiper .swiper-slide {
        height: 9em;
    }

    #info-box {
        margin-top: 5em;
        width: 90%;
    }

    #video-section,
    #video iframe {
        height: 30vw;
    }

    #video-section {
        width: 90%;
        margin-top: 2em;
    }

    #info-section {
        padding: 2em;
    }
}

@media screen and (min-width: 1500px) {
    #section-2 h1 {
        margin: 1em auto 0.5em auto;
    }

    #info-container {
        display: flex;
        align-items: center;
        padding-bottom: 2em;
    }
}