/* SECTION 1 */

#section-1 {
    text-align: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
    ),
        url(/images/collections/collection2.jpg);
    background-size: cover;
    background-position: center;
    color: var(--off-white-ignore);
}

#section-1 .container {
    text-align: center;
}

#section-1 h1 {
    padding: 1em 0;
    font-family: 'Poppins Bold', Verdana, sans-serif;
}

/* SECTION 2 */

#section-2 {
    padding-bottom: 4em;
}

#section-2 img {
    max-width: 35em;
    max-height: 25em;
}

#section-2 .container {
    margin: 0 auto;
    max-width: 75em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

#section-2 h1 {
    padding: 1em 1em 0 1em;
    font-family: 'Poppins Bold', Verdana, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-2 ul {
    padding: 1em 1em 0 1em;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

#section-2 li {
    padding: 0 1em;
    min-width: 13em;
    min-height: 8em;
    border-radius: 30px;
    text-align: center;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s ease-out;
}

.contact-info {
    display: block;
    width: 100%;
}

.contact-icon {
    margin: 1em auto;
    transition: 0.25s ease-out;
    --ggs: 1.6;
}

.main-decoration,
#main-contact .contact-icon {
    color: var(--blue-nav);
}

.dev-decoration,
#my-contact .contact-icon {
    color: var(--golden-color);
}

.red-decoration,
#section-2 .gg-youtube {
    color: red;
}

#section-2 li:hover,
#section-2 li:hover .contact-icon {
    color: var(--off-white-ignore);
}

#main-contact li:hover {
    background-color: var(--blue-nav);
}

#my-contact li:hover {
    background-color: var(--golden-color);
}

#youtube li:hover {
    background-color: red;
}

/* PC */
@media screen and (min-width: 1025px) {
    #section-1 h1 {
        font-size: 4em;
    }
}