/* SECTION 1 */

#section-1 {
    text-align: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
    ),
        url(/images/collections/collection2.jpg);
    background-size: cover;
    background-position: center;
    color: var(--off-white-ignore);
}

#section-1 .container {
    text-align: center;
}

#section-1 h1 {
    padding: 1em 0;
    font-family: 'Poppins Bold', Verdana, sans-serif;
}

/* SECTION 2 */

#section-2 {
    padding-bottom: 4em;
}

#section-2 img {
    max-width: 35em;
    max-height: 25em;
}

#section-2 .container {
    margin: 0 auto;
    max-width: 75em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

#section-2 h2 {
    padding: 1em 1em 0 1em;
    font-family: 'Poppins Bold', Verdana, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-2 ul {
    padding: 1em 1em 0 1em;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

#section-2 li {
    min-width: 13em;
    min-height: 8em;
    border-radius: 30px;
    text-align: center;
    background-color: var(--white);
    transition: 0.25s ease-out;
    box-shadow: 0 2px 7px 0 rgba(20, 20, 43, 0.06);
}

#section-2 li:hover {
    box-shadow: 0 6px 8px 0 rgba(20, 20, 43, 0.08);
}

.contact-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: inherit;
    min-width: inherit;
    min-height: inherit;
}

.contact-icon {
    margin: 1em auto;
    transform: scale(1.5);
}

.contact-icon path {
    transition: 0.25s ease-out;
}

.main-decoration {
    color: var(--blue-nav);
}

#main-contact .contact-icon {
    fill: var(--blue-nav);
}

.dev-decoration {
    color: var(--golden-color);
}

#my-contact .contact-icon {
    fill: var(--golden-color);
}

.red-decoration {
    color: red;
}

#youtube path {
    fill: red;
}

#section-2 li:hover,
#section-2 li:hover .contact-icon path {
    color: var(--off-white-ignore);
    fill: var(--off-white-ignore);
}

#main-contact li:hover {
    background-color: var(--blue-nav);
}

#my-contact li:hover {
    background-color: var(--golden-color);
}

#youtube li:hover {
    background-color: red;
}

/* PC */
@media screen and (min-width: 1025px) {
    #section-1 h1 {
        font-size: 4em;
    }
}