/* SECTION 1 */

.section-1 {
    background: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    ),
        url(/images/collections/collection2.jpg);
    background-size: cover;
    background-position: center;
    padding: 3em 0;
}

.section-1 .container {
    text-align: center;
    color: var(--off-white);
}

#contact-container {
    margin: 0 auto;
    padding: 2em;
    height: 100%;
    width: 90%;
    border: solid 5px var(--blue-nav);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.75);
}

.section-1 h1 {
    font-size: 2em;
    font-family: 'Poppins Bold', Verdana, sans-serif;
}

#contact-section,
#my-contact,
#youtube {
    margin: 0 auto;
    width: max-content;
}

.section-1 .gg-mail,
.section-1 .gg-phone,
.section-1 .gg-youtube {
    margin: 3em auto;
    margin-bottom: 2em;
    color: var(--blue-nav);
    --ggs: 2;
}

.section-1 .gg-mail {
    bottom: -7px;
}

.section-1 .gg-youtube {
    color: red;
}

.section-1 p {
    font-size: 20px;
}

.section-1 hr {
    margin: 2em auto;
    height: 2px;
    width: 90%;
    border: none;
    background-color: var(--blue-nav);
}

/* MOBILE */
@media screen and (max-width: 481px) {
    #my-contact .gg-mail {
        margin-top: 1.5em;
    }
}

/* PC + TABLETS */
@media screen and (min-width: 481px) {
    #contact-container {
        border-radius: 60px;
    }

    #contact-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

/* TABLETS */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .section-1 h1 {
        font-size: 2.5em;
    }

    .section-1 .gg-mail,
    .section-1 .gg-phone,
    .section-1 .gg-youtube {
        --ggs: 3;
        margin-bottom: 3em;
    }

    .section-1 .gg-mail {
        bottom: 0;
    }

    .section-1 p {
        font-size: 26px;
    }
}

/* PC */
@media screen and (min-width: 1025px) {
    .section-1 h1 {
        font-size: 4em;
        padding-bottom: 0.5em;
    }

    .section-1 .gg-mail,
    .section-1 .gg-phone,
    .section-1 .gg-youtube {
        --ggs: 5;
        margin-bottom: 4em;
    }

    .section-1 .gg-youtube {
        margin-top: 5em;
    }

    .section-1 .gg-mail {
        bottom: 0;
    }

    .section-1 p {
        font-size: 36px;
    }
}