/* SECTION 1 */

#section-1 {
    background: url(/images/cover-pic.jpg) no-repeat 50% 75%;
    background-size: cover;
}

#section-1 .container {
    height: 24em;
}

.welcome {
    width: 100%;
    height: 100%;
    color: var(--off-white-ignore);
    background: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
}

.welcome h1 {
    font-size: 2.8em;
    font-family: 'Poppins Bold', Verdana, sans-serif;
    text-align: center;
    padding-top: 0.5em;
}

.main-decoration {
    color: var(--blue-nav);
}

/* SECTION 2 */

#section-2 {
    text-align: center;
    color: var(--dark-mode);
}

#section-2 .container {
    position: relative;
    padding: 3em 0;
    padding-top: 5em;
}

#section-2 h1 {
    display: inline-block;
    font-family: 'Poppins Bold', Verdana, sans-serif;
}

#section-2 p {
    margin: 0 auto;
    max-width: 800px;
    padding: 1.5em 2em 0 2em;
    font-size: 18px;
}

#collection-btn {
    background-color: var(--blue-nav);
    color: var(--off-white);
    border: solid 2px var(--blue-nav);
    margin-top: 1.6em;
    padding: 0.5em 1em;
    border-radius: 2em;
    transition: 0.25s ease-out;
}

#collection-btn:hover {
    background-color: transparent;
    color: var(--dark-mode);
}


/* SECTION 3 */

#section-3 {
    text-align: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
    ),
        url(/images/collections/collection4.jpg);
    background-size: cover;
    background-position: center;
    color: var(--off-white);
    display: none; /* Hide Add Your Car section for now */
}

#section-3 h1 {
    padding: 1em 0.5em;
    padding-bottom: 0;
    font-family: 'Poppins Bold', Verdana, sans-serif;
}

#section-3 button {
    background-color: var(--golden-color);
    color: var(--off-white);
    border: solid 2px var(--golden-color);
    margin: 2em auto;
    margin-bottom: 3em;
    padding: 0.5em 1em;
    border-radius: 2em;
    transition: 0.25s ease-out;
}

#section-3 button:hover {
    background-color: transparent;
    color: var(--dark-mode);
}

/* SECTION 4 */

#section-4 {
    text-align: center;
    margin: 2em auto;
    width: 100%;
}

#section-4 .container {
    color: var(--dark-mode);
}

#section-4 h1 {
    display: inline-block;
    margin: 1em auto;
    font-family: 'Poppins Bold', Verdana, sans-serif;
}

.featured-decoration {
    color: var(--tiger-color);
}

#featured-container {
    margin: 0 auto;
    margin-bottom: 1em;
    text-align: center;
    height: 90%;
}

#featured {
    position: relative;
    text-align: center;
    height: 15em;
}

#background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 75%;
    background-color: var(--tiger-color);
}

#section-4 img {
    position: relative;
    height: 100%;
    width: 90%;
    object-fit: cover;
}

#featured-info {
    margin: 0 auto;
    margin-top: 1em;
    width: 90%;
    border-radius: 30px;
}

#section-4 h2 {
    padding: 1em 0;
    font-family: 'Poppins Bold', Verdana, sans-serif;
}

#section-4 ul {
    margin: 0 auto;
    margin-right: 1em;
    text-align: left;
    width: 75%;
    max-width: 19em;
    list-style-position: outside;
    font-size: 20px;
}

#section-4 li {
    padding: 0.25em;
    color: var(--tiger-color);
}

#section-4 li span {
    color: var(--dark-mode);
}

#section-4 #featured-info button {
    background-color: var(--tiger-color);
    color: var(--off-white);
    padding: 0.5em 1em;
    margin: 2em auto;
    border: solid 2px var(--tiger-color);
    border-radius: 2em;
    transition: 0.25s ease-out;
}

#section-4 #featured-info button:hover {
    background-color: transparent;
    color: var(--dark-mode);
}

/* PC + TABLETS */
@media screen and (min-width: 481px) {
    .welcome {
        padding-left: 3%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent);
        display: flex;
        align-items: center;
    }
    
    .welcome h1 {
        text-align: left;
        max-width: max-content;
    }
    
    #section-2 p {
        font-size: 20px;
    }

    #section-4 h1 {
        padding-top: 0;
    }

    #featured,
    #featured-info {
        height: 100%;
    }

    #section-4 ul {
        margin: 0 auto;
    }
}

/* TABLETS */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    #section-1 .container {
        height: 25em;
    }

    .welcome h1 {
        font-size: 4em;
    }

    #featured-info {
        border-radius: 60px;
        border: solid 8px var(--tiger-color);
    }

    #section-4 h2 {
        font-size: 2em;
    }
}

/* PC */
@media screen and (min-width: 1025px) {
    #section-1 .container {
        height: 49.5em;
    }

    #section-1 img {
        object-position: 20% 65%;
    }

    .welcome h1 {
        font-size: 8em;
    }

    .image-content {
        height: 26em;
    }

    .name,
    #section-4 li {
        font-size: 26px;
    }

    #section-4 {
        margin-bottom: 5em;
    }

    #featured-container {
        margin: 0 auto;
        margin-bottom: 1em;
        padding: 2em 0;
        text-align: center;
        width: 90%;
        height: 90%;
        border: solid 8px var(--tiger-color);
        border-radius: 60px;
        display: grid;
        grid-template-columns: 1fr 0.75fr;
    }

    #featured-info {
        margin-top: 0;
        border: none;
    }

    #section-4 h2 {
        padding: 0;
        padding-top: 0.5em;
        margin-bottom: 1em;
        font-size: 2.5em;
    }
}