:root {
    --white: white;
    --off-white: #f5f5f5;
    --off-white-ignore: #f5f5f5;
    --dark-mode: #1c1c1c;
    --dark-mode-ignore: #1c1c1c;
    --dark-mode-light: #262626;
    --swiper-heading-color: #333;
    --blue-nav: #4073ff;
    --golden-color: #ebae2a;
    --jensen-color: #e90000;
    --rolls-color: #2f0101;
    --tiger-color: #072638;
    --mustang-color: #e2001a;
    --bumblebee-color: #efd654;
    --oldsmobile-color: #c3ad83;
    --mgb-color: #c00000;
    --trans-am-color: #0178dc;
    --oldsmobile-white-color: #101213;
    --corvette-color: #eae796;
    --cadillac-color: #c31e29;
    --crown-victoria-color: #d60000;
    --camaro-color: #085294;
    --nova-color: #bc8e15;
    --jaguar-targa-color: #9fb5c8;
    --shelby-color: #0d2869;
    --mga-color: #008848;
    --rolls-royce-spur-color: #64747e;
    --prowler-color: #5675b9;
}

@font-face { 
    font-family: 'Poppins'; 
    src: url("/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face { 
    font-family: 'Poppins Bold'; 
    src: url("/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face { 
    font-family: 'Poppins Extra Bold'; 
    src: url("/fonts/Poppins/Poppins-ExtraBold.ttf");
}

* {
    font-family: 'Poppins', Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--off-white);
}

a {
    text-decoration: none;
    color: inherit;
}

button,
.button {
    all: unset;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.25em;
}

img {
    user-select: none;
}

h1,
h2 {
    font-size: 2em;
}

.title-decoration {
    font-family: 'Poppins Extra Bold', Verdana, sans-serif;
}

.left {
    padding-right: 0.5em;
}

.right {
    padding-left: 0.5em;
}

/* TABLETS */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    h1,
    h2 {
        font-size: 2.5em;
    }
}

/* PC */
@media screen and (min-width: 1025px) {
    h1,
    h2 {
        font-size: 3em;
    }
}