@import "/src/css/global-style.css";

header {
    margin: 0 auto;
    height: 7em;
    width: 100%;
    max-width: 85em;
}

header img {
    padding: 1em;
    height: 100%;
    float: left;
}

header h1 {
    display: inline-block;
    font-size: 2em;
    line-height: 3.5em;
    color: var(--dark-mode);
}

nav {
    height: 100%;
    width: 36em;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

#desktop-nav ul {
    height: 100%;
    width: 100%;
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.4fr;
}

#desktop-nav li {
    text-decoration: none;
    color: var(--dark-mode);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s ease-out;
}

#desktop-nav li:hover:not(.light-dark-toggle),
#mobile-menu-open li:hover:not(.light-dark-toggle) {
    box-shadow: inset 0 -3px 0 var(--dark-mode);
}

#desktop-nav li a,
#mobile-menu-open li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mobile-menu {
    height: 100%;
    width: 35px;
    float: right;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mobile-container {
    cursor: pointer;
    z-index: 10;
}

.change #bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change #bar2 {
    opacity: 0;
}
  
.change #bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

#bar1,
#bar2,
#bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--dark-mode);
    margin: 6px 0;
    transition: 0.4s;
}

#mobile-menu-open {
    background-color: var(--off-white);
    color: var(--dark-mode);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 5em;
    display: none;
    z-index: 2;
}

#mobile-menu-open ul {
    margin-top: 5em;
    background-color: var(--off-white);
    height: 100%;
    width: 100%;
    font-size: 24px;
    list-style: none;
}

.light-dark-toggle {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

.light-dark-toggle button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sun,
.moon {
    transition: 0.25s ease-out;
    transform: scale(1.25);
    transition: transform 0.3s, opacity 0.3s, fill 0.3s;
}

.sun {
    opacity: 1;
    position: absolute;
}

.moon {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.sun,
.sun:hover {
    fill: goldenrod;
}

.moon,
.moon:hover {
    fill: midnightblue;
}

footer {
    text-align: center;
    box-shadow: inset 0 9px 25px -16px black;
    color: var(--dark-mode);
    padding-top: 1em;
}

footer hr {
    margin: 0 auto;
    height: 2px;
    width: 70%;
    background-color: var(--dark-mode);
    border: none;
}

footer img {
    height: 6em;
    margin: 2em auto 1.5em auto;
    border-radius: 50%;
}

.bottom-text {
    margin: 0 auto;
    padding: 2em 0;
}

footer p {
    padding-bottom: 1em;
}

footer p:last-child {
    font-size: 14px;
    padding-bottom: 0;
}

.contact {
    margin: 2em auto;
    text-align: center;
}

.info {
    margin: 1em auto;
    display: flex;
    justify-content: center;
    max-width: 15em;
}

.info p {
    width: 100%;
    transition: 0.25s ease-out;
}

.hover {
    transition: 0.25s ease-out;
}

.info p:hover,
.hover:hover {
    opacity: 0.6;
}

.footer-mail {
    bottom: -4px;
}

.footer-mail,
.footer-phone {
    fill: var(--dark-mode);
}

.bottom-text p a {
    color: var(--blue-nav);
}

@media (max-width: 874px) {
    #desktop-nav {
        display: none;
    }
}

@media (min-width: 875px) {
    #mobile-menu {
        display: none;
    }

    .light-dark-toggle {
        margin-top: 0;
    }

    .sun,
    .moon {
        fill: var(--dark-mode);
        transform: scale(1);
    }
}

/* PC + TABLETS */
@media (min-width: 481px) {
    #mobile-menu-open ul {
        padding-top: 0.5em;
    }
    
    .bottom-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        border-top: solid 2px var(--dark-mode);
    }

    footer img {
        margin-bottom: 0;
    }

    .contact {
        margin-top: 1em;
    }

    footer hr {
        display: none;
    }

    footer p {
        width: 17em;
        padding: 0 1em;
    }

    footer p:last-child {
        font-size: 16px;
    }
}

/* TABLETS */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    #mobile-menu-open ul {
        margin-top: 0.5em;
    }
}

/* PC */
@media screen and (min-width: 1025px) {
    header {
        height: 8em;
    }

    header h1 {
        line-height: 2.3em;
        font-size: 3.5em;
    }

    #desktop-nav li {
        font-size: 20px;
    }

    footer p {
        width: 30em;
    }
}